.banner {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background-color: hsl(27, 100%, 50%);
  color: white;
}

.banner h1 {
  font-size: 1.8rem;
}

.link {
  display: inline-block;
  padding-top: 0.5rem;
  padding-right: 1vw;
  font-weight: bold;
}

.activated {
  color: hsl(27, 100%, 30%);
}

@media screen and (min-width: 560px) {
  .banner h1 {
    font-size: 2.5rem;
  }
}
